#about-view {
  display: block;
  padding: var(--lumo-space-m) var(--lumo-space-l);

}

:host {
  display: block;
  padding: var(--lumo-space-m) var(--lumo-space-l);
}
/* check here */
#about-view  .contact-stats {
    font-size: 4em;
    margin: 1em 0;
}
